* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

pre {
    white-space: pre-wrap;
}

/* Basic Section Formatting  */
header, footer {
    background-color: #264653;
    border: solid #000000;
    color: #FFFFFF;
    min-height: 15vh;

}

.title {
    text-decoration: none;
    color: #FFFFFF;
}

main {
    background-color: #2A9D8F;
    color:#FFFFFF;
    padding: 10px;
    min-height: 70vh;
}

/* .CategoryList, .CuisineList, */
.CookbookList-list, .about, .App__mobileMenu, .RecipeList, .CategoryList-list, .MealList-list, .CuisineList-list {
    background-color: #CFF2EE;
    color: #000000;
    padding: 10px;
}

.hidden {
    display: none;
}
.CuisineList-list{
    margin-bottom: 10px;
}

.CategoryList-item, .MealList-item, .CuisineList-item, .RecipeList-item {
    list-style: none;
}

/* Recipe formatting */
.recipe-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.recipe-break {
    border: dotted #000000;
}

img {
    width: 200px;
    border: solid #264653;
    display: block;
    margin: 10px auto;
}

/* Buttons and Input */
form {
    display: flex;
    flex-direction: column;
}

input, select {
    background-color: #CFF2EE;
    height: 2em;
    max-width: 300px;
    margin-bottom: 10px;
}

textarea {
    background-color: #CFF2EE;
    max-width: 500px;
    margin-bottom: 10px;
}

.youtubeButton {
    background-color: #E9C46A;
    color: #000000;
    text-decoration: none;
    font-size: large;
    padding: 10px;
    margin-bottom: 10px;
}
.CuisineButton, .CategoryButton, .MenuButton, .CookbookButton, .MealButton,
 .backButton, .myCookbooksButton, .myRecipesButton, [type=submit], #contactFormSubmit, .MobileMenu__linkButton {
    background-color: #E9C46A;
    color: #000000;
    margin-bottom: 10px;
    height: 50px;
}

.CuisineButton:hover, .CategoryButton:hover, .MenuButton:hover, .CookbookButton:hover, .MealButton:hover,
 .backButton:hover, .myCookbooksButton:hover, .myRecipesButton:hover, [type=submit]:hover,
  #contactFormSubmit:hover, .MobileMenu__linkButton:hover {
    background-color: #F4A261;
}

[type=submit] {
    max-width: 200px;
}



/* Navigation */
.App__header_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.MobileMenuButton, .login-btn  {
    max-width: 300px;
    text-align: center;
    padding: 15px 100px;
}

.App__footer {
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul, .App__mobileMenu ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

nav ul li, .NavBar__linkButton, .App__mobileMenu ul li {
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}

nav ul li, .NavBar__linkButton {
    background-color: #264653;
    color: #FFFFFF;
}

nav ul li:last-child, .App__mobileMenu li:last-child {
    margin-right: 0;
    text-align: center;
}

.MobileMenu__linkButton, .MobileMenuButton, .AuthNav__profile-button {
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118,118,118), rgb(133,133,133));
    border-image: initial;
    text-decoration: none;
}

.login-out-btns {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    
}

/* Hide Navigation bar  */
.App__footer .NavBar, .App__header .NavBar {
    display: none;
}

/* Wider Screen */
@media all and (min-width: 900px) {
    nav ul {
        flex-direction: row;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }

    .App__header_top {
        flex-direction: row;
        text-align: right;
    }

    .AuthNav__profile-button, .login-btn {
        width: 150px;
        height: 80%;
        padding: 5px 20px;
    }

    .recipe-top {
        flex-direction: row;
    }

    .ingredientSearch, .ContactForm__wrapper, .AddRecipe, .about {
        width: 80%;
        margin: auto 10%;
    }

    .CategoryList-list, .MealList-list, .CuisineList-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .CategoryList-item, .MealList-item {
        width: 47%;
        padding-bottom: 3%;
        margin-bottom: 3%; /* (100-47*2)/2 */
        position: relative;
      }

    .CuisineList-item, .CookbookList-item {
        flex: 0 32%;
        height: 100px;
        margin-bottom: 2%;
    }

    /* show Navigation bar  */
    .App__footer .NavBar, .App__header .NavBar {
        display: inline;
    }

    /* Hide MobileMenu */
    .MobileMenuButton {
        display: none;
    }

}

/* Widest Screen */
@media all and (min-width: 1250px) {

    .CategoryList-item, .MealList-item {
        width: 32%;
        height: 150px;
        padding-bottom: 32%; /* same as width, sets height */
        margin-bottom: 2%; /* (100-32*3)/2 */
        position: relative;
      }
}
